<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/employees/{id}(id=${employee.getEmployeeId()})}" th:object="${employee}">
    <label for="firstName">Enter first name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</div>
    <br/>
    <label for="lastName">Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</div>
    <br/>
    <label for="departmentId">Enter department ID: </label>
    <input type="text" th:field="*{departmentId}" id="departmentId"/>
    <div style="color:red" th:if="${#fields.hasErrors('departmentId')}" th:errors="*{departmentId}">departmentId Error</div>
    <br/>
    <label for="jobTitle">Enter job title: </label>
    <input type="text" th:field="*{jobTitle}" id="jobTitle"/>
    <div style="color:red" th:if="${#fields.hasErrors('jobTitle')}" th:errors="*{jobTitle}">jobTitle Error</div>
    <br/>
    <label for="gender">Enter gender: </label>
    <input type="text" th:field="*{gender}" id="gender"/>
    <div style="color:red" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">gender Error</div>
    <br/>
    <label for="dateOfBirth">Enter dateOfBirth: </label>
    <input type="text" th:field="*{dateOfBirth}" id="dateOfBirth"/>
    <div style="color:red" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">dateOfBirth Error</div>
    <br/>
    <input type="submit" value="Update"/>
</form>

</body>
</html>